
.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 243, 186);
}
.icon-arrow(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 17);
		.rem(height, 26);
	}
	.hover(@isHover);
	
	.rem(background-position, -196, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-arrow{
	.rem(background-position, -196, 0);
	.rem(width, 17);
	.rem(height, 26);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 243, 186);
}
.icon-food(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 88);
		.rem(height, 88);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-food{
	.rem(background-position, 0, 0);
	.rem(width, 88);
	.rem(height, 88);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 243, 186);
}
.icon-line(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 88);
		.rem(height, 88);
	}
	.hover(@isHover);
	
	.rem(background-position, -98, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line{
	.rem(background-position, -98, 0);
	.rem(width, 88);
	.rem(height, 88);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 243, 186);
}
.icon-notice(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 20);
		.rem(height, 20);
	}
	.hover(@isHover);
	
	.rem(background-position, -223, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-notice{
	.rem(background-position, -223, 0);
	.rem(width, 20);
	.rem(height, 20);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 243, 186);
}
.icon-sence(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 88);
		.rem(height, 88);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -98);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-sence{
	.rem(background-position, 0, -98);
	.rem(width, 88);
	.rem(height, 88);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 243, 186);
}
.icon-traffic(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 88);
		.rem(height, 88);
	}
	.hover(@isHover);
	
	.rem(background-position, -98, -98);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic{
	.rem(background-position, -98, -98);
	.rem(width, 88);
	.rem(height, 88);
}

