
.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 236, 230);
}
.icon-arrow(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 28);
		.rem(height, 48);
	}
	.hover(@isHover);
	
	.rem(background-position, -208, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-arrow{
	.rem(background-position, -208, 0);
	.rem(width, 28);
	.rem(height, 48);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 236, 230);
}
.icon-food(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 94);
		.rem(height, 94);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-food{
	.rem(background-position, 0, 0);
	.rem(width, 94);
	.rem(height, 94);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 236, 230);
}
.icon-line(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 94);
		.rem(height, 94);
	}
	.hover(@isHover);
	
	.rem(background-position, -104, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-line{
	.rem(background-position, -104, 0);
	.rem(width, 94);
	.rem(height, 94);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 236, 230);
}
.icon-notice(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 21);
		.rem(height, 21);
	}
	.hover(@isHover);
	
	.rem(background-position, -208, -58);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-notice{
	.rem(background-position, -208, -58);
	.rem(width, 21);
	.rem(height, 21);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 236, 230);
}
.icon-sence(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 94);
		.rem(height, 94);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -104);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-sence{
	.rem(background-position, 0, -104);
	.rem(width, 94);
	.rem(height, 94);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 236, 230);
}
.icon-traffic(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 94);
		.rem(height, 94);
	}
	.hover(@isHover);
	
	.rem(background-position, -104, -104);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-traffic{
	.rem(background-position, -104, -104);
	.rem(width, 94);
	.rem(height, 94);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 236, 230);
}
.icon-view(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 22);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -208);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-view{
	.rem(background-position, 0, -208);
	.rem(width, 40);
	.rem(height, 22);
}

